.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    margin-bottom: 20px;
  }

.header a.logo {
font-size: 32px;
color: rgb(0, 32, 161);
text-decoration: none;
font-weight: 700;
font-family: "Poppins", "sans-serif";
}


.navBar a{
  position: relative;
  font-size: 18px;
font-family: 500;
color: blue;
  text-decoration: none;
  margin-left: 40px;
}

.navBar a::before{
content: "";
position: absolute;
top: 100%;
left: 0;
width: 0%;
height: 2px;
background: blue;
transition: 1s;
}

.navBar a:hover::before {

  width: 100%;
}

.container {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.container .recipe-div{
border: 1px solid lightgrey;
width: 500px;
padding: 22px;
border-radius: 50px;

}
.container .recipe-div img {
width: 460px;
border-radius: 50px;
}
